.mainGame {
  padding: 1em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(12vh, 1fr));

  & .square {
    border: 1px solid;
    height: 12vh;
  }
}

@media (min-width: 700px) {
  .mainGame {
    grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr));

    & .square {
      height: 30vh;
    }
  }
}

.square {
  border-radius: 30px;
  box-shadow: 3px 3px 8px 3px white;

  &:hover,
  &:focus,
  &:active {
    scale: 1.05;
    box-shadow: 4px 4px 8px 12px white;
  }

  &:hover {
    cursor: pointer;
  }
}
